doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title Grayscale - Start Bootstrap Theme

    // Bootstrap core CSS
    link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')

    // Custom fonts for this template
    link(href='/vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
    
    // Custom styles for this template
    link(href='/stylesheets/grayscale.min.css' rel='stylesheet')

    //Custom leaflet
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')
    script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')


  body
    block content
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') Start Bootstrap
        button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#about') About
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#projects') Projects
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#signup') Contact
    // Header
    header.masthead
      .container.d-flex.h-100.align-items-center
        .mx-auto.text-center
          h1.mx-auto.my-0.text-uppercase Grayscale
          h2.text-white-50.mx-auto.mt-2.mb-5 A free, responsive, one page Bootstrap theme created by Start Bootstrap.
          a.btn.btn-primary.js-scroll-trigger(href='#about') Get Started
    // About Section
    section#about.about-section.text-center
      .container
        .row
          .col-lg-8.mx-auto
            h2.text-white.mb-4 Built with Bootstrap 4
            p.text-white-50
              | Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
              a(href='http://startbootstrap.com/template-overviews/grayscale/') the preview page
              | . The theme is open source, and you can use it for any purpose, personal or commercial.
        img.img-fluid(src='img/ipad.png' alt='')
    //map
    #mapid

    // Signup Section
    section#signup.signup-section
      .container
        .row
          .col-md-10.col-lg-8.mx-auto.text-center
            i.far.fa-paper-plane.fa-2x.mb-2.text-white
            h2.text-white.mb-5 Subscribe to receive updates!
            form.form-inline.d-flex
              input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email' placeholder='Enter email address...')
              button.btn.btn-primary.mx-auto(type='submit') Subscribe
    // Contact Section
    section.contact-section.bg-black
      .container
        .row
          .col-md-4.mb-3.mb-md-0
            .card.py-4.h-100
              .card-body.text-center
                i.fas.fa-map-marked-alt.text-primary.mb-2
                h4.text-uppercase.m-0 Address
                hr.my-4
                .small.text-black-50 4923 Market Street, Orlando FL
          .col-md-4.mb-3.mb-md-0
            .card.py-4.h-100
              .card-body.text-center
                i.fas.fa-envelope.text-primary.mb-2
                h4.text-uppercase.m-0 Email
                hr.my-4
                .small.text-black-50
                  a(href='#') hello@yourdomain.com
          .col-md-4.mb-3.mb-md-0
            .card.py-4.h-100
              .card-body.text-center
                i.fas.fa-mobile-alt.text-primary.mb-2
                h4.text-uppercase.m-0 Phone
                hr.my-4
                .small.text-black-50 +1 (555) 902-8832
        .social.d-flex.justify-content-center
          a.mx-2(href='#')
            i.fab.fa-twitter
          a.mx-2(href='#')
            i.fab.fa-facebook-f
          a.mx-2(href='#')
            i.fab.fa-github
    // Footer
    footer.bg-black.small.text-center.text-white-50
      .container
        | Copyright &copy; Your Website 2019
    // Bootstrap core JavaScript
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='/vendor/jquery-easing/jquery.easing.min.js')
    // Custom scripts for this template
    script(src='/javascripts/grayscale.min.js')
    //leaflet
    script(src='/javascripts/map.js')
